<div class="field mb-4 flex flex-col sm:flex-row items-center gap-4">
  <%= f.label :name, class: "w-1/4" %>
  <%= f.text_field :name, class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
</div>
<div class="field mb-4 flex flex-col sm:flex-row items-center gap-4">
  <%= f.label :description, class: "w-1/4" %>
  <%= f.text_area :description, rows: 30, class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
</div>
<%# <div class="field mb-4 flex flex-col sm:flex-row items-center gap-4"> %>
<%# <%= f.label :listings, class: "w-1/4" %>
<%# <div class="field mb-4 flex flex-col flex-wrap sm:flex-row items-center gap-4"> %>
<%# <%= f.collection_check_boxes :listings, Listing.all, :id, :title, {}, { multiple: true, class: "form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" } %>
<%# </div> %>
<%# </div> %>
<div class="flex items-center gap-2">
  <%= f.submit "#{f.object.persisted? ? 'Atualizar' : 'Criar'}", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
</div>
