<div class="field mb-4 flex flex-col sm:flex-row items-center gap-4">
  <%= f.label :name, class: 'w-1/4' %>
  <%= f.text_field :name, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
</div>
<div class="field mb-4 flex flex-col sm:flex-row items-center gap-4">
  <%= f.label :video_link, class: 'w-1/4' %>
  <%= f.text_field :video_link, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
</div>
<div class="field mb-4 flex flex-col sm:flex-row items-center gap-4">
  <%= f.label :order, class: 'w-1/4' %>
  <%= f.text_field :order, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
</div>
<div class="field mb-4 flex flex-col sm:flex-row items-center gap-4">
  <%= f.label :description, class: 'w-1/4' %>
  <%= f.text_area :description, rows: 30, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
</div>
<div class="field mb-4 flex flex-col sm:flex-row items-center gap-4">
  <%= f.label :listings, class: 'w-1/4' %>
  <div class="field mb-4 flex flex-col flex-wrap sm:flex-row items-center gap-4">
    <div class="listings">
      <%= f.collection_check_boxes :listing_ids, Listing.all, :id, :title, {}, { multiple: true } do |listing| %>
        <div class="flex space-between items-center h-[200px]">
          <span class="w-1/4">
            <%= listing.check_box %>
          </span>
          <%= react_component 'indexPage--LongCard', { listing: listing.object, small: true } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="flex items-center gap-2">
  <%= f.submit (f.object.persisted? ? 'Atualizar' : 'Criar').to_s, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
</div>
