<% meta_title = I18n.t('buy.header') %>
<% meta_description = I18n.t('buy.meta_description') %>

<% content_for(:meta_title) { meta_title } %>
<% content_for(:meta_description) { meta_description } %>
<% content_for(:extra_meta) do %>
  <link rel="canonical" href="https://sofiagalvaogroup.com/<%= I18n.locale == :pt ? '' : "#{I18n.locale}/" %>comprar<%= @pagy.dig(:page) == 1 ? '' : "?page=#{@pagy.dig(:page)}" %>" />
<% end %>

<%= react_component 'shared--Banner', { height: '20vh', blurred: true, text: meta_title } %>
<div class="pt-6 bg-white text-center md:hidden">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 center">
    <h1 id="main-title" class="relative block md:hidden mt-2 text-3xl text-black sm:text-4xl px-4"><%= meta_title  %></h1>
  </div>
</div>

<%= react_component 'shared--ListingSearch', { params: params.dig(:q), listingMaxPrice: @listings_max_price, statsKeys: @stats_keys } %>
<%= react_component 'shared--Pagination', { pagy: @pagy } %>
<%= react_component 'indexPage--Listings', { listings: @listings, backoffice: false }  %>
<%= react_component 'shared--Pagination', { pagy: @pagy } %>
