<% meta_title = I18n.t('sell.header') %>
<% meta_description = I18n.t('sell.meta_description') %>


<% content_for(:meta_title) { meta_title } %>
<% content_for(:meta_description) { meta_description } %>
<% content_for(:extra_meta) do %>
  <script type="text/javascript" src="https://www.casafari.com/valuation-widget/widget.js"></script>
  <link rel="canonical" href="https://sofiagalvaogroup.com/<%= I18n.locale == :pt ? '' : "#{I18n.locale}/" %>vender" />
  <link rel="alternate" hreflang="<%= I18n.locale == :pt ? 'en' : 'pt' %>" href="https://sofiagalvaogroup.com/<%= I18n.locale == :pt ? 'en/' : '' %>vender" />
  <meta name="turbo-visit-control" content="reload">
<% end %>

<%= react_component 'shared--Banner', { height: '20vh', blurred: true, text: meta_title } %>
<div class="pt-6 bg-white dark:bg-dark text-center md:hidden">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 center">
    <h1 id="main-title" class="relative block md:hidden mt-2 text-3xl text-dark dark:text-light  sm:text-4xl px-4"><%= meta_title %></h1>
  </div>
</div>
<section class="container mx-auto mt-6 mb-12 px-2 sm:px-8">
  <div class="py-8 md:py-0 bg-white dark:bg-dark">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="px-2 sm:px-0 lg:text-center">
        <p class="mt-2 text-3xl text-dark dark:text-light sm:text-4xl"><%= I18n.t('sell.subheader') %></p>
      </div>
      <script type="text/javascript" defer>
        var locale = "<%= I18n.locale %>"
        window.initializeCasafariWidget({key: "D9557C7E502424960F866EE4286B", startingPage: "2", showStartingPage: false, operationType: "", lang: locale });
      </script>
      <div class="px-2 sm:px-0">
        <div class="lg:text-center">
          <p class="mt-4 max-w-2xl text-xl text-gray-500 dark:text-light lg:mx-auto"><%= I18n.t('sell.paragraph.top') %></p>
          <p class="mt-4 max-w-2xl text-xl text-gray-500 dark:text-light lg:mx-auto"><%= I18n.t('sell.paragraph.middle') %></p>
          <p class="mt-4 max-w-2xl text-xl text-gray-500 dark:text-light lg:mx-auto"><%= I18n.t('sell.paragraph.bottom') %></p>
        </div>
        <div class="my-10">
          <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-beige-default dark:border-beige-medium text-beige-default dark:text-beige-medium">
                  <i class="fas fa-search-dollar" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-dark dark:text-light  w-3/4"><%= I18n.t('sell.list.market') %></p>
              </dt>
            </div>
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-beige-default dark:border-beige-medium text-beige-default dark:text-beige-medium">
                  <i class="fas fa-star" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-dark dark:text-light  w-3/4"><%= I18n.t('sell.list.eval') %></p>
              </dt>
            </div>
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-beige-default dark:border-beige-medium text-beige-default dark:text-beige-medium">
                  <i class="fas fa-balance-scale" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-dark dark:text-light  w-3/4"><%= I18n.t('sell.list.warranty') %></p>
              </dt>
            </div>
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-beige-default dark:border-beige-medium text-beige-default dark:text-beige-medium">
                  <i class="fas fa-camera" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-dark dark:text-light  w-3/4"><%= I18n.t('sell.list.media') %></p>
              </dt>
            </div>
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-beige-default dark:border-beige-medium text-beige-default dark:text-beige-medium">
                  <i class="fas fa-project-diagram" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-dark dark:text-light  w-3/4"><%= I18n.t('sell.list.kw') %></p>
              </dt>
            </div>
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-beige-default dark:border-beige-medium text-beige-default dark:text-beige-medium">
                  <i class="fas fa-comment-dollar" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-dark dark:text-light  w-3/4"><%= I18n.t('sell.list.agencies') %></p>
              </dt>
            </div>
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-beige-default dark:border-beige-medium text-beige-default dark:text-beige-medium">
                  <i class="fas fa-mail-bulk" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-dark dark:text-light  w-3/4"><%= I18n.t('sell.list.portal') %></p>
              </dt>
            </div>
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-beige-default dark:border-beige-medium text-beige-default dark:text-beige-medium">
                  <i class="fas fa-hashtag" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-dark dark:text-light  w-3/4"><%= I18n.t('sell.list.socials') %></p>
              </dt>
            </div>
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-beige-default dark:border-beige-medium text-beige-default dark:text-beige-medium">
                  <i class="fas fa-bullhorn" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-dark dark:text-light  w-3/4"><%= I18n.t('sell.list.promo') %></p>
              </dt>
            </div>
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-beige-default dark:border-beige-medium text-beige-default dark:text-beige-medium">
                  <i class="fas fa-home" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-dark dark:text-light  w-3/4"><%= I18n.t('sell.list.open') %></p>
              </dt>
            </div>
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-beige-default dark:border-beige-medium text-beige-default dark:text-beige-medium">
                  <i class="fas fa-book-open" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-dark dark:text-light  w-3/4"><%= I18n.t('sell.list.flyer') %></p>
              </dt>
            </div>
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-beige-default dark:border-beige-medium text-beige-default dark:text-beige-medium">
                  <i class="far fa-handshake" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-dark dark:text-light  w-3/4"><%= I18n.t('sell.list.feedback') %></p>
              </dt>
            </div>
          </dl>
        </div>
        <div class="lg:text-center">
          <p class="mt-4 max-w-2xl text-xl text-gray-500 dark:text-light lg:mx-auto"><%= I18n.t('sell.exclusive') %></p>
        </div>
      </div>
    </div>
  </div>
</section>
