<div class="field mb-4 flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-4">
  <%= f.label :name, class: 'sm:w-1/4 font-bold' %>
  <%= f.text_field :name, class: 'shadow appearance-none bg-white dark:bg-light border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
</div>
<div class="field mb-4 flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-4">
  <%= f.label :text, class: 'sm:w-1/4 font-bold' %>
  <%= f.text_area :text, class: 'shadow appearance-none bg-white dark:bg-light border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
</div>
<div class="flex sm:items-center gap-2">
  <%= f.submit (f.object.persisted? ? 'Atualizar' : 'Criar').to_s, class: 'cursor-pointer bg-beige-default hover:bg-beige-medium text-white dark:text-dark font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
</div>
