<div class="container mx-auto flex flex-col sm:flex-row px-4 flex-wrap">
  <div class="w-full shadow-md rounded px-2 sm:px-8 py-4 mt-4 relative">
    <div class="mb-6">
      <%= link_to 'Novo Testemunho', new_backoffice_testimonial_path, class: 'bg-beige-default hover:bg-beige-medium text-dark dark:text-dark font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
    </div>
    <h2 class="text-2xl font-bold leading-7 text-dark dark:text-light  text-center sm:text-3xl"><%= I18n.t('navbar.testimonies') %></h2>
    <p class="text-center text-gray-600 max-w-none">Total <%= @testimonials.count %> testemunhos</p>
    <% @testimonials.map do |testimonial| %>
      <div class="field mb-4 flex flex-col sm:flex-row gap-4 justify-between border-b border-blue-700 py-4">
        <div>
          <q class="block text-gray-700 w-full text-sm font-bold">
            <%= testimonial.text%>
          </q> - <span class="font-bold"><%= testimonial.name  %></span>
        </div>
        <div class="flex items-center gap-2">
          <%= link_to 'Editar', edit_backoffice_testimonial_path(testimonial), class: 'bg-beige-default hover:bg-beige-medium text-dark dark:text-dark font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
          <%= link_to 'ðŸ—‘ï¸', [:backoffice, testimonial], method: :delete, data: { "turbo-method": :delete }, class: 'bg-red-500 hover:bg-red-700 p-2 rounded font-bold', onclick: "return confirm('Are you sure you want to delete this item?');" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
