<%= tinymce_assets %>
<div class="flex items-center gap-2 mb-2">
  <%= f.submit (f.object.persisted? ? 'Atualizar' : 'Criar').to_s, class: 'cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline', data: { "turbo": false } %>
  <% if @blog_post.persisted? %>
    <%= link_to 'Ver Post', backoffice_blog_post_path(@blog_post), class: 'bg-blue-300 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
    <%= link_to 'ðŸ—‘ï¸', [:backoffice, @blog_post], method: :delete, data: { "turbo-method": :delete }, class: 'text-red-500 hover:text-red-700 font-bold' , onclick: "return confirm('Are you sure you want to delete this item?');" %>
  <% end %>
</div>
<div class="field mb-4 flex flex-col sm:flex-row items-center gap-4">
  <%= f.label :title, class: 'w-1/4' %>
  <%= f.text_field :title, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
</div>
<div class="field mb-4 flex flex-col sm:flex-row items-center gap-4">
  <%= f.label :hidden, class: 'w-1/4' %>
  <%= f.check_box :hidden %>
</div>
<div class="field mb-4 flex flex-col items-center gap-4">
  <%= f.text_area :text, class: 'tinymce shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
  <%= tinymce %>
</div>
<div class="flex items-center gap-2">
  <%= f.submit (f.object.persisted? ? 'Atualizar' : 'Criar').to_s, class: 'cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline', data: { "turbo": false } %>
  <% if @blog_post.persisted? %>
    <%= link_to 'Ver Post', backoffice_blog_post_path(@blog_post), class: 'bg-blue-300 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
    <%= link_to 'ðŸ—‘ï¸', [:backoffice, @blog_post], method: :delete, data: { "turbo-method": :delete }, class: 'text-red-500 hover:text-red-700 font-bold' , onclick: "return confirm('Are you sure you want to delete this item?');" %>
  <% end %>
</div>
