<% content_for(:meta_title) { @blog_post.meta_title } %>
<% content_for(:meta_description) { @blog_post.meta_description } %>
<% content_for(:meta_image) { @blog_post.main_photo } %>

<div id="blog-show" class="relative">
  <header class="bg-beige">
    <div class="tinymce mx-auto py-8">
      <div class="flex flex-wrap justify-around gap-4 items-center h-full w-full px-8">
        <div>
          <h1><%= @blog_post.title %></h1>
          <p><%= @blog_post.created_at.strftime("%d/%m/%Y") %></p>
        </div>

        <img class="w-2/5 min-w-[20rem] border shadow-lg" src="<%= @blog_post.main_photo %>" alt="<%= @blog_post.title %>">
      </div>
    </div>
  </header>
  <div class="tinymce pt-8 px-8 mx-auto container">
    <%= sanitize @blog_post.text %>
  </div>
</div>
