<% meta_title = I18n.t('contacts.header') %>
<% meta_description = I18n.t('contacts.meta_description') %>


<% content_for(:meta_title) { meta_title } %>
<% content_for(:meta_description) { meta_description } %>
<% content_for(:extra_meta) do %>
  <link rel="canonical" href="https://sofiagalvaogroup.com/<%= I18n.locale == :pt ? '' : "#{I18n.locale}/" %>contactos" />
  <link rel="alternate" hreflang="<%= I18n.locale == :pt ? 'en' : 'pt' %>" href="https://sofiagalvaogroup.com/<%= I18n.locale == :pt ? 'en/' : '' %>contactos" />
<% end %>

<div class="container mx-auto mt-6 mb-12 px-8">
  <section class="bg-white py-5 lg:py-[120px] overflow-hidden relative">
    <div class="container">
      <div class="flex flex-col tablet:flex-row lg:justify-around">
        <div class="w-full lg:w-1/2 xl:w-6/12 px-4">
          <div class="max-w-[570px] mb-12 lg:mb-0">
            <h1 class="standard block mb-4 text-base text-primary ">
              <%= I18n.t('contacts.contact_us') %>
            </h1>
            <h2 class=" text-dark mb-6 uppercase font-bold text-[32px] sm:text-[40px] lg:text-[36px] xl:text-[40px] ">
              <%= I18n.t('contacts.cta') %>
            </h2>
            <div class="mt-4">
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-beige text-beige">
                  <i class="fas fa-location-arrow" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lgleading-[3rem] font-medium text-black w-3/4">Av. Dom Carlos I 124, Lisboa, Portugal</p>
              </dt>
            </div>
            <div class="mt-4">
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-beige text-beige">
                  <i class="fas fa-store-alt" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lgleading-[3rem] font-medium text-black w-3/4">KW Lead - Santos</p>
              </dt>
            </div>
            <div class="mt-4">
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-beige text-beige">
                  <i class="fas fa-mobile-alt" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lgleading-[3rem] font-medium text-black w-3/4">+351 93 28 29 084 - Sofia Galvão</p>
              </dt>
            </div>
            <div class="mt-4">
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-beige text-beige">
                  <i class="fas fa-at" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lgleading-[3rem] font-medium text-black w-3/4">geral@sofiagalvaogroup.com</p>
              </dt>
            </div>
            <div class="mt-4">
              <a
                href="https://www.facebook.com/sofiagalvaokw"
                target="_blank"
                rel="noopener noreferrer"
              >
                <dt class="flex items-center">
                  <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-beige text-beige">
                    <i class="fa fa-facebook-f" aria-hidden="true"></i>
                  </div>
                  <p class="ml-4 text-lgleading-[3rem] font-medium text-black w-3/4">/sofiagalvaokw</p>
                </dt>
              </a>
            </div>
            <div class="mt-4">
              <a
              href="https://www.instagram.com/sofiagalvaogroupkw"
              target="_blank"
              rel="noopener noreferrer"
            >
                <dt class="flex items-center">
                  <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-beige text-beige">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </div>
                  <p class="ml-4 text-lgleading-[3rem] font-medium text-black w-3/4">@sofiagalvaogroupkw</p>
                </dt>
              </a>
            </div>
          </div>
        </div>
        <div className="w-full lg:w-1/2 xl:w-5/12 px-4">
          <%= react_component 'contactPage--ContactForm' %>
        </div>
      </div>
    </div>
  </section>
</div>
