<% meta_title = I18n.t('kw.header') %>
<% meta_description = I18n.t('kw.meta_description') %>

<% content_for(:meta_title) { meta_title } %>
<% content_for(:meta_description) { meta_description } %>
<% content_for(:extra_meta) do %>
  <link rel="canonical" href="https://sofiagalvaogroup.com/<%= I18n.locale == :pt ? '' : "#{I18n.locale}/" %>kw" />
<% end %>


<%= react_component 'shared--Banner', { height: '20vh', blurred: true, text: meta_title } %>
<section class="container mx-auto pt-6 px-8">
  <div class="pt-6 bg-white text-center md:hidden">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 center">
      <h1 id="main-title" class="relative block md:hidden pt-2 text-3xl text-black sm:text-4xl px-4"><%= meta_title %></h1>
    </div>
  </div>
  <div class="py-8 md:pb-0 md:pt-4 bg-white">
    <div class="max-w-7xl mx-auto mb-8 px-4 sm:px-6 lg:px-8">
      <h2 class="block pt-2 text-2xl text-black sm:text-4xl mx-auto"><%= I18n.t('kw.subheader') %></h2>
      <img class="w-full tablet:w-1/2" src="https://marcas-logos.net/wp-content/uploads/2020/03/KELLER-WILLIAMS-LOGO.png" alt="KW Portugal Logo">
      <p class="pt-4 text-xl text-gray-500 max-w-max"><%= sanitize I18n.t('kw.first_paragraph.top') %></p>
      <p class="pt-4 text-xl text-gray-500 max-w-max"><%= sanitize I18n.t('kw.first_paragraph.middle') %></p>
      <p class="pt-4 text-xl text-gray-500 max-w-max"><%= sanitize I18n.t('kw.first_paragraph.bottom') %></p>
    </div>
  </div>
  <div class="py-8 md:pb-0 md:pt-4 bg-white">
    <div class="max-w-7xl mx-auto mb-8 px-4 sm:px-6 lg:px-8">
      <h2 class="block pt-2 text-2xl text-black sm:text-4xl mx-auto"><%= I18n.t('kw.beliefs.title') %></h2>
      <ul class="list-disc" style="list-style-position: inside;">
        <li class="pt-4 text-xl text-gray-500 max-w-max"><%= sanitize I18n.t('kw.beliefs.local') %></li>
        <li class="pt-4 text-xl text-gray-500 max-w-max"><%= sanitize I18n.t('kw.beliefs.partners') %></li>
        <li class="pt-4 text-xl text-gray-500 max-w-max"><%= sanitize I18n.t('kw.beliefs.people') %></li>
        <li class="pt-4 text-xl text-gray-500 max-w-max"><%= sanitize I18n.t('kw.beliefs.profit') %></li>
        <li class="pt-4 text-xl text-gray-500 max-w-max"><%= sanitize I18n.t('kw.beliefs.reputation') %></li>
      </ul>
    </div>
  </div>
  <div class="py-8 md:pb-0 md:pt-4 bg-white">
    <div class="max-w-7xl mx-auto mb-8 px-4 sm:px-6 lg:px-8">
      <h2 class="block pt-2 text-2xl text-black sm:text-4xl mx-auto"><%= I18n.t('kw.principle') %></h2>
      <img src="/images/WI4C2TES.webp" alt="WI4C2TES">
    </div>
  </div>
  <div class="py-8 md:pb-0 md:pt-4 bg-white">
    <div class="max-w-7xl mx-auto mb-8 px-4 sm:px-6 lg:px-8">
      <h2 class="block pt-2 text-2xl text-black sm:text-4xl mx-auto"><%= I18n.t('kw.perspectives.title') %></h2>
      <ul class="list-disc" style="list-style-position: inside;">
        <li class="pt-4 text-xl text-gray-500 max-w-max"><q><%= I18n.t('kw.perspectives.tech') %></q></li>
        <li class="pt-4 text-xl text-gray-500 max-w-max"><q><%= I18n.t('kw.perspectives.agent') %></q></li>
        <li class="pt-4 text-xl text-gray-500 max-w-max"><q><%= I18n.t('kw.perspectives.learn') %></q></li>
        <li class="pt-4 text-xl text-gray-500 max-w-max"><q><%= I18n.t('kw.perspectives.brand') %></q></li>
        <li class="pt-4 text-xl text-gray-500 max-w-max"><q><%= I18n.t('kw.perspectives.consulting') %></q></li>
        <li class="pt-4 text-xl text-gray-500 max-w-max"><q><%= I18n.t('kw.perspectives.growth') %></q></li>
        <li class="pt-4 text-xl text-gray-500 max-w-max"><q><%= I18n.t('kw.perspectives.people') %></q></li>
      </ul>
    </div>
  </div>
  <div class="py-8 md:pb-0 md:pt-4 bg-white">
    <div class="max-w-7xl mx-auto mb-8 px-4 sm:px-6 lg:px-8">
      <h2 class="block pt-6 text-xl text-black sm:text-2xl"><a class="text-beige underline" href="https://www.kwportugal.pt/about" target="_blank"></a></h2>
    </div>
  </div>
</section>
