<div class="container mx-auto flex flex-col sm:flex-row px-4 flex-wrap mb-6">
  <%# Variáveis %>
  <div class="w-full shadow-md rounded px-2 sm:px-8 py-4 mt-4 dark:border-beige-medium dark:border-2">
    <h2 class="text-2xl font-bold leading-7 text-dark dark:text-light  text-center sm:text-3xl">Editar Imóvel <%= @listing.title %></h2>
    <p class="text-gray-500 dark:text-light pt-3 max-w-none">Nota: os textos podem ser mudados nas diferentes liguagens, basta mudar para a linguagem desejada</p>
    <%= form_for([:backoffice, @listing], html: { method: :put, class: 'my-6' }) do |f| %>
      <div class="flex sm:items-center gap-2 mb-4 flex-wrap">
        <%= f.submit 'Atualizar Imóvel', class: 'cursor-pointer bg-blue-500 hover:bg-blue-700 text-white dark:text-dark font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
        <%= link_to 'Atualizar informação - site KW', update_details_backoffice_listing_path(@listing), data: { "turbo-method": :post }, class: 'bg-blue-300 hover:bg-blue-500 text-white dark:text-dark font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
        <%= link_to 'Ver Imóvel', listing_path(@listing), class: 'bg-blue-300 hover:bg-blue-500 text-white dark:text-dark font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="field mb-4 flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-4">
        <%= f.label :title, class: 'sm:w-1/4 font-bold' %>
        <%= f.text_field :title, class: 'shadow appearance-none bg-white dark:bg-light border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="field mb-4 flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-4">
        <%= f.label :url, class: 'sm:w-1/4 font-bold' %>
        <%= f.text_field :url, disabled: true, class: 'input-disabled shadow appearance-none bg-gray-200 dark:bg-beige-medium border dark:border-gray-600 rounded w-full py-2 px-3 text-gray-700 dark:text-light leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="field mb-4 flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-4">
        <%= f.label :virtual_tour_url, class: 'sm:w-1/4 font-bold' %>
        <%= f.text_field :virtual_tour_url, class: 'input-disabled shadow appearance-none bg-white dark:bg-light border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="field mb-4 flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-4">
        <%= f.label :order, class: 'sm:w-1/4 font-bold' %>
        <%= f.text_field :order, class: 'shadow appearance-none bg-white dark:bg-light border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="field mb-4 flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-4">
        <%= f.label :kind, class: 'sm:w-1/4 font-bold' %>
        <%= f.select :kind, options_for_select(Listing.kinds.map { |key, _value| [I18n.t("listing.kind.#{key}"), key] }, @listing.kind), { prompt: 'Selecionar tipo de imóvel' }, { class: 'shadow appearance-none bg-white dark:bg-light border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' } %>
      </div>
      <div class="field mb-4 flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-4">
        <%= f.label :objective, class: 'sm:w-1/4 font-bold' %>
        <%= f.select :objective, options_for_select(Listing.objectives.map { |key, _value| [I18n.t("listing.objective.#{key}"), key] }, @listing.objective), { prompt: 'Selecionar objetivo do imóvel' }, { class: 'shadow appearance-none bg-white dark:bg-light border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' } %>
      </div>
      <div class="field mb-4 flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-4">
        <%= f.label :address, class: 'sm:w-1/4 font-bold' %>
        <%= f.text_field :address, class: 'shadow appearance-none bg-white dark:bg-light border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="field mb-4 flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-4">
        <%= f.label :price, class: 'sm:w-1/4 font-bold' %>
        <%= f.text_field :price, class: 'shadow appearance-none bg-white dark:bg-light border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="field mb-4 flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-4">
        <%= f.label :video_link, class: 'sm:w-1/4 font-bold' %>
        <%= f.text_field :video_link, class: 'shadow appearance-none bg-white dark:bg-light border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="field mb-4 flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-4">
        <%= f.label :status, class: 'sm:w-1/4 font-bold' %>
        <%= f.select :status, options_for_select(Listing.statuses.map { |key, _value| [I18n.t("listing.status.#{key}"), key] }, @listing.status), { prompt: 'Selecionar status do imóvel' }, { class: 'shadow appearance-none bg-white dark:bg-light border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' } %>
      </div>
      <div class="field mb-4 flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-4">
        <%= f.label :Empreendimento, class: 'sm:w-1/4 font-bold' %>
        <%= f.collection_select :listing_complex_id, ListingComplex.all, :id, :name, { include_blank: 'Associar a Empreendimento?' }, { class: 'shadow appearance-none bg-white dark:bg-light border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' } %>
      </div>
      <div class="field mb-4 flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-4">
        <%= f.label :description, class: 'sm:w-1/4 font-bold' %>
        <%= f.text_area :description, rows: 30, class: 'shadow appearance-none bg-white dark:bg-light border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="photos my-4">
        <h3 class="text-xl font-bold mb-2">Photos</h3>
        <div class="flex gap-2 flex-wrap gallery-container">
          <% @listing.photos.each_with_index do |photo_url, index| %>
            <span data-index="<%= index %>" class="cursor-pointer">
              <%= image_tag photo_url, class: 'w-24 h-24 object-cover shadow rounded' %>
            </span>
          <% end %>
        </div>
      </div>
      <div class="flex sm:items-center gap-2 flex-wrap">
        <%= f.submit 'Atualizar Imóvel', class: 'cursor-pointer bg-blue-500 hover:bg-blue-700 text-white dark:text-dark font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
        <%= link_to 'Atualizar informação - site KW', update_details_backoffice_listing_path(@listing), data: { "turbo-method": :post }, class: 'bg-blue-300 hover:bg-blue-500 text-white dark:text-dark font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
        <%= link_to 'Ver Imóvel', listing_path(@listing), class: 'bg-blue-300 hover:bg-blue-500 text-white dark:text-dark font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
      </div>
    <% end %>
  </div>
</div>

<% @listing.photos.each_with_index do |photo_url, index| %>
  <div id="photo-modal-<%= index %>" class="modal fixed inset-0 bg-black bg-opacity-75 flex items-baseline pt-8 justify-center hidden max-h-screen">
    <div class="relative top-0 max-w-3xl w-full mx-auto bg-white dark:bg-beige-default rounded-lg overflow-hidden shadow-xl transform transition-all max-h-[90%]">
      <button onclick="closeModal(<%= index %>)" class="absolute top-4 right-4 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <span class="sr-only">Close panel</span>
        <!-- Heroicon name: outline/x -->
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
      <div class="p-6">
        <img src="<%= photo_url %>" class="w-full h-auto sm:h-[70vh] object-contain" alt="Photo <%= index + 1 %>">
      </div>
      <div class="px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button onclick="showNextImage(<%= index %>)" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-200 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
          Next
        </button>
        <button onclick="showPrevImage(<%= index %>)" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-200 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm">
          Previous
        </button>
      </div>
    </div>
  </div>
<% end %>


<script>
  // check if page is /backoffice/listings/:id/edit
  if (window.location.pathname.includes('/backoffice/listings/') && window.location.pathname.includes('/edit')) {
    // Function to show a specific modal
    function showModal(index) {
      event.stopPropagation();
      const el = document.getElementById('photo-modal-' + index);
      if (el) {
        el.classList.remove('hidden')
      }
    }

    // Function to close all modals
    function closeModal() {
      var modals = document.querySelectorAll('.modal');
      modals.forEach(function(modal) {
        modal.classList.add('hidden');
      });
    }

    // Function to show next image
    function showNextImage(currentIndex) {
      var totalImages = document.querySelectorAll('.modal').length;
      var nextIndex = (currentIndex + 1) % totalImages;
      closeModal();
      showModal(nextIndex);
    }

    // Function to show previous image
    function showPrevImage(currentIndex) {
      var totalImages = document.querySelectorAll('.modal').length;
      var prevIndex = (currentIndex - 1 + totalImages) % totalImages;
      closeModal();
      showModal(prevIndex);
    }

    // Event listener for clicking outside the modal content
    document.addEventListener('click', function(event) {
      if (!event.target.closest('.modal')) {
        closeModal();
      }
    });

    // Event listener for pressing Esc key
    document.addEventListener('keydown', function(event) {
      if (event.key === 'Escape') {
        closeModal();
      }
    });

    // Event listener for pressing arrow keys
    document.addEventListener('keydown', function(event) {
      if (document.querySelectorAll('.modal.hidden').length == document.querySelectorAll('.modal').length) {
        return;
      }

      if (event.key === 'ArrowRight') {
        var currentIndex = parseInt(document.querySelector('.modal:not(.hidden)').id.replace('photo-modal-', ''));
        showNextImage(currentIndex);
      }
      if (event.key === 'ArrowLeft') {
        var currentIndex = parseInt(document.querySelector('.modal:not(.hidden)').id.replace('photo-modal-', ''));
        showPrevImage(currentIndex);
      }
    });

    // Event listener for clicking thumbnail images
    document.querySelectorAll('.gallery-container img').forEach(function(img) {
      img.addEventListener('click', function() {
        var index = parseInt(this.parentNode.getAttribute('data-index'));
        showModal(index);
      });
    });
  }
</script>
