<div class="container mx-auto flex flex-col sm:flex-row px-4 flex-wrap">
  <%# Variáveis %>
  <div class="w-full shadow-md rounded px-2 sm:px-8 py-4 mt-4">
    <div class="flex flex-col sm:flex-row justify-between items-center flex-wrap">
      <%= form_for(Listing.new, url: update_all_backoffice_listings_path(order: params[:order]), html: { class: 'my-6' }, data: { turbo: false }) do |f| %>
        <%= f.submit 'Buscar os imóveis em falta ao site KW', class: 'cursor-pointer bg-beige-default hover:bg-beige-medium text-dark dark:text-dark font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
      <% end %>

      <%= form_with(url: backoffice_listings_path, method: :get, local: true) do |f| %>
        <%= f.select :order, options_for_select([['Ordem normal', 'order'], ['Mais recentes', 'recent'], ['Incluir apagados', 'deleted'], ['Só apagados', 'deleted_only']], params[:order]), {}, { class: 'block w-full p-2 border rounded focus:border-blue-500 dark:bg-beige-medium', onchange: 'this.form.submit()' } %>
      <% end%>

    </div>

    <h2 class="text-2xl font-bold leading-7 text-dark dark:text-light  text-center sm:text-3xl">Imóveis</h2>
    <p class="text-center text-gray-600 max-w-none">Imóveis <%= @pagy[:from] %>-<%= @pagy[:to] %> de <%= @pagy[:count] %> totais</p>
    <%= react_component 'shared--Pagination', { pagy: @pagy } %>
    <%= react_component 'indexPage--Listings', { listings: @listings, backoffice: true }  %>
  </div>
</div>
