<div class="container mx-auto flex flex-col sm:flex-row px-4 flex-wrap">
  <%# Vari치veis %>
  <div class="w-full shadow-md rounded px-2 sm:px-8 py-4 mt-4">
    <div class="flex flex-col sm:flex-row justify-between items-center flex-wrap">
      <%= form_for(Listing.new, url: update_all_backoffice_listings_path(order: params[:order]), html: { class: 'my-6' }) do |f| %>
        <%= f.submit 'Buscar os im칩veis em falta ao site KW', class: 'cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
      <% end %>

      <%= form_with(url: backoffice_listings_path, method: :get, local: true) do |f| %>
        <%= f.select :order, options_for_select([['Ordem normal', 'order'], ['Mais recentes', 'recent']], params[:order]), {}, { class: 'block w-full p-2 border rounded focus:border-blue-500', onchange: 'this.form.submit()' } %>
      <% end%>

    </div>

    <h2 class="text-2xl font-bold leading-7 text-black text-center sm:text-3xl">Im칩veis</h2>
    <p class="text-center text-gray-600 max-w-none">Total <%= @listings.count %> im칩veis</p>
    <%= react_component 'indexPage--Listings', { listings: @listings, backoffice: true }  %>
  </div>
</div>
