<% content_for(:extra_meta) do %>
  <%= tinymce_assets %>
  <script type="text/javascript" src="/assets/tinymce.js"></script>
<% end %>

<div class="flex sm:items-center gap-2 mb-2">
  <%= f.submit (f.object.persisted? ? t('backoffice.common.update') : t('backoffice.common.create')), class: 'cursor-pointer bg-beige-default hover:bg-beige-medium text-white dark:text-dark font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline', data: { "turbo": false } %>
  <% if @club_story.persisted? %>
    <%= link_to t('backoffice.club_stories.view_story'), backoffice_club_story_path(@club_story), class: 'bg-beige-default hover:bg-beige-medium text-white dark:text-dark font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
    <%= link_to [:backoffice, @club_story], method: :delete, data: { "turbo-method": :delete }, class: 'bg-red-500 hover:bg-red-700 text-white dark:text-dark p-2 rounded font-bold', onclick: "return confirm('#{t('backoffice.common.delete_confirm')}');" do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  <% end %>
</div>

<div class="field mb-4 flex flex-col sm:flex-row sm:items-center gap-1 sm:gap-4">
  <%= f.label :title, class: 'w-1/4 font-bold' %>
  <%= f.text_field :title, class: 'shadow appearance-none bg-white dark:bg-light border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
</div>

<div class="field mb-4 flex flex-col sm:flex-row sm:items-center gap-1 sm:gap-4">
  <%= f.label :small_description, class: 'w-1/4 font-bold' %>
  <%= f.text_area :small_description, class: 'shadow appearance-none bg-white dark:bg-light border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
</div>

<div class="field mb-4 flex flex-col sm:flex-row sm:items-center gap-1 sm:gap-4">
  <%= f.label :hidden, class: 'w-1/4 font-bold' %>
  <div class="w-full">
    <%= f.check_box :hidden %>
  </div>
</div>

<div class="field mb-4 flex flex-col sm:items-center gap-1 sm:gap-4">
  <%= f.text_area :text, class: 'tinymce shadow appearance-none bg-white dark:bg-light border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
  <%= tinymce %>
</div>

<div class="field mb-4 flex flex-col sm:flex-row sm:items-center gap-1 sm:gap-4">
  <%= f.label :video_link, class: 'w-1/4 font-bold' %>
  <%= f.text_field :video_link, class: 'shadow appearance-none bg-white dark:bg-light border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
</div>

<div class="field mb-4">
  <div class="font-bold mb-2"><%= t('backoffice.common.photos') %></div>
  <%= file_field_tag 'club_story_photos[image][]', multiple: true, class: 'shadow appearance-none bg-white dark:bg-light border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
</div>

<% if @club_story.club_story_photos.present? %>
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 mb-4">
    <% @club_story.club_story_photos.each do |photo| %>
      <div class="relative">
        <%= image_tag photo.image.url, class: 'w-full h-48 object-cover rounded' %>
        <div class="absolute top-2 right-2 flex gap-2">
          <div class="bg-white rounded p-2">
            <%= check_box_tag "club_story_photos[#{photo.id}][main]", '1', photo.main %>
            <%= label_tag "club_story_photos[#{photo.id}][main]", t('backoffice.common.main_photo') %>
          </div>
          <%= link_to club_story_photo_path(photo),
            method: :delete,
            class: 'bg-red-500 text-white rounded p-2',
            data: { "turbo-method": :delete, confirm: t('backoffice.common.delete_confirm') } do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<hr>

<p class="text-xl font-bold py-2"><%= t('backoffice.common.seo_section') %></p>
<span class="mb-2 sm:mb-1"><%= t('backoffice.common.seo_title_hint') %></span>
<div class="field mb-4 flex flex-col sm:flex-row sm:items-center gap-1 sm:gap-4">
  <%= f.label :meta_title, class: 'w-1/4 font-bold' %>
  <%= f.text_field :meta_title, class: 'shadow appearance-none bg-white dark:bg-light border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
</div>
<span class="mb-2 sm:mb-1"><%= t('backoffice.common.seo_description_hint') %></span>
<div class="field mb-4 flex flex-col sm:flex-row sm:items-center gap-1 sm:gap-4">
  <%= f.label :meta_description, class: 'w-1/4 font-bold' %>
  <%= f.text_area :meta_description, rows: 6, class: 'shadow appearance-none bg-white dark:bg-light border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
</div>

<div class="flex sm:items-center gap-2">
  <%= f.submit (f.object.persisted? ? t('backoffice.common.update') : t('backoffice.common.create')), class: 'cursor-pointer bg-beige-default hover:bg-beige-medium text-white dark:text-dark font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline', data: { "turbo": false } %>
  <% if @club_story.persisted? %>
    <%= link_to t('backoffice.club_stories.view_story'), backoffice_club_story_path(@club_story), class: 'bg-beige-default hover:bg-beige-medium text-white dark:text-dark font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
    <%= link_to [:backoffice, @club_story], method: :delete, data: { "turbo-method": :delete }, class: 'bg-red-500 hover:bg-red-700 text-white dark:text-dark p-2 rounded font-bold', onclick: "return confirm('#{t('backoffice.common.delete_confirm')}');" do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  <% end %>
</div>
