<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render 'shared/meta_tags' %>
    <%= yield :extra_meta %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if !Rails.env.production? %>
      <meta name="robots" content="noindex">
    <% end %>

    <meta name="facebook-domain-verification" content="i1srcxt1ep5l2pqjfzs1cj5knhihcv" />
    <script src="https://kit.fontawesome.com/f01d8e868a.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', "data-turbo-track": 'reload' %>
    <%= javascript_include_tag 'application', "data-turbo-track": 'reload', defer: true %>
    <script type="text/javascript" src="https://www.casafari.com/valuation-widget/widget.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <%= favicon_link_tag '/favicons/favicon.ico' %>
    <!-- Google tag (gtag.js) -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=<%= ENV['GOOGLE_TAG_ID'] %>'></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= ENV['GOOGLE_TAG_ID'] %>');
    </script>
    <!-- Meta Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "<%= ENV['FACEBOOK_PIXEL_ID'] %>");
      fbq("track", "PageView");
    </script>
    <noscript>
      <img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=<%= ENV['FACEBOOK_PIXEL_ID'] %>&ev=PageView&noscript=1"
      />
    </noscript>
    <!-- End Meta Pixel Code -->
  </head>
  <body>
    <main class="flex flex-col min-h-screen">
      <%= render 'shared/flashes' %>
      <%= react_component 'Navbar', { admin: current_admin.present?, resource: @resource } %>
      <div class="flex-auto">
        <%= yield %>
      </div>
      <%= render 'shared/cta' %>
      <%= react_component 'Footer' %>
    </main>
  </body>
</html>
