<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/meta_tags' %>
    <%= yield :extra_meta %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/f01d8e868a.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script type="text/javascript" src="https://www.casafari.com/valuation-widget/widget.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <%= favicon_link_tag '/favicons/favicon.ico' %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9TZ7VV9KN1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-9TZ7VV9KN1');
    </script>
  </head>
  <body>
    <div class="relative min-h-[100vh] h-full">
      <%= render 'shared/flashes' %>
      <%= react_component "Navbar", { admin: current_admin.present? } %>
      <%= yield %>
      <%= render 'shared/cta' %>
      <%= react_component "Footer" %>
    </div>
  </body>
</html>
